# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data
nul

repo
/src/generated/
/gradle/gradle-daemon-jvm.properties
/.claude/settings.local.json
